useDynLib("ETRAN")
export(Read.SMI)
export(Sel.SMI)
export(Plot.TSEQ)
export(Plot.TSEQ.mon)
export(Plot.TSEQ.bin)
export(Calc.Speed)
export(FixDetect.IDT)
export(X.ang)
export(Plot.XY)
export(Plot.XYbg)
export(Plot.Fbg)
export(Plot.KSbg)
export(Bld.KS)
export(Fixd.IDT.R)
export(Calc.Wind.Disp)
export(Calc.Wind.Disp.sg)
export(Calc.Wind.Disp.rd)
export(Calc.Wind.Disp.lc)
export(Validate.Data)


